<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { font-family: Arial; padding: 10px; }
      input, select, button {
        width: 100%;
        padding: 10px;
        margin: 6px 0;
        font-size: 16px;
      }
      button { background: #2ecc71; border: none; color: white; }
      .success {
        background: #d4edda;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>

    {% if sucesso %}
      <div class="success">Cadastro realizado com sucesso!</div>
    {% endif %}

    <h2>Nova Casa</h2>
      <form method="post" action="/nova_casa">
        <input type="text" name="nome" placeholder="Nome da Casa" required>
        <button type="submit">Cadastrar</button>
      </form>

    <hr>
    
    <h2>Novo Gastos</h2>
    <form method="post">
      <input type="number" step="0.01" name="valor" placeholder="Valor" required>

      <select name="categoria" required>
        <!-- <option value="" disabled selected>Categoria</option> -->
        <option>Material</option>
        <option>Pedreiro</option>
        <option>IPTU</option>
        <option>Escritório</option>
        <option>Terreno</option>
        <option>Cartorio</option>
        <option>Desmembramento</option>
        <option>Limpeza do terreno</option>
        <option>Engenheiro</option>
        <option>Container</option>
        <option>Poste</option>
        <option>Consumo Água</option>
        <option>Consumo Luz</option>
      </select>

      <input type="date" name="data" value="{{ hoje }}">

      <select name="casa_id" required>
        {% for casa in casas %}
          <option value="{{ casa[0] }}">{{ casa[1] }}</option>
        {% endfor %}
      </select>

      <button type="submit">Salvar Gasto</button>
    </form>

    <hr>

    <h3>Gastos Cadastrados</h3>

    <ul>
      {% for gasto in gastos %}
        <li>
          {{ gasto[2] }} —
          R$ {{ gasto[1] }} —
          {{ gasto[3] }} —
          {{ gasto[4] }}
        </li>
      {% endfor %}
    </ul>
  
  </body>
</html>
