<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { font-family: Arial; padding: 10px; }
      input, select, button {
        width: 100%;
        padding: 10px;
        margin: 6px 0;
        font-size: 16px;
      }
      button { background: #2ecc71; border: none; color: white; }
      .success {
        background: #d4edda;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>

    {% if success %}
      <div class="success">Cadastro realizado com sucesso!</div>
    {% endif %}

    <h2>Nova Casa</h2>
      <form method="post" action="/new_house">
        <input type="text" name="name" placeholder="Nome da Casa" required>
        <button type="submit">Cadastrar</button>
      </form>

    <hr>
    
    <h2>Novo Gastos</h2>
    <form method="post">
      <input type="number" step="0.01" name="value" placeholder="Valor" required>

      <select name="category" required>
        <!-- <option value="" disabled selected>Categoria</option> -->
        <option>Material</option>
        <option>Pedreiro</option>
        <option>IPTU</option>
        <option>Escritório</option>
        <option>Terreno</option>
        <option>Cartório</option>
        <option>Desmembramento</option>
        <option>Limpeza do terreno</option>
        <option>Engenheiro</option>
        <option>Container</option>
        <option>Poste</option>
        <option>Consumo Água</option>
        <option>Consumo Luz</option>
      </select>

      <input type="date" name="date" value="{{ hoje }}">

      <select name="house_id" required>
        {% for house in houses %}
          <option value="{{ house[0] }}">{{ house[1] }}</option>
        {% endfor %}
      </select>

      <button type="submit">Salvar Gasto</button>
    </form>

    <hr>

    <h3>Gastos Cadastrados</h3>

    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Casa</th>
      </tr>
      {% for expense in expenses %}
        <tr>
          <td>{{ expense[2] }}</td>
          <td>R$ {{ expense[1] }}</td>
          <td>{{ expense[3] }}</td>
          <td>{{ expense[4] }}</td>
        </tr>
      {% endfor %}
    </table>
  
  </body>
</html>
