{% extends "base.html" %}
{% block content %}

<h2>Novo Gasto</h2>

<form method="post">

  <!-- Valor -->
  <label>Valor</label>
  <input
    type="number"
    step="0.01"
    name="value"
    placeholder="Ex: 250.00"
    required
    autofocus
  >

  <!-- Categoria -->
  <label>Categoria</label>
  <select name="category" required>
    <option value="">Selecione</option>
    <option>Material</option>
    <option>Pedreiro</option>
    <option>IPTU</option>
    <option>Escritório</option>
    <option>Terreno</option>
    <option>Cartório</option>
    <option>Desmembramento</option>
    <option>Limpeza do terreno</option>
    <option>Engenheiro</option>
    <option>Container</option>
    <option>Poste</option>
    <option>Consumo Água</option>
    <option>Consumo Luz</option>
  </select>

  <!-- Data -->
  <label>Data</label>
  <input
    type="date"
    name="date"
    value="{{ today | e }}"
    required
  >

  <!-- Casa -->
  <label>Casa</label>
  <select name="house_id" required>
    <option value="">Selecione a casa</option>
    {% for house in houses %}
      <option value="{{ house[0] }}">{{ house[1] }}</option>
    {% endfor %}
  </select>

  <!-- Botão -->
  <button type="submit">Salvar Gasto</button>

</form>

{% endblock %}
